* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #7e925b;
    text-align: center;
}
h1 {
    color: #222916;
    margin-top: 1rem;
}
.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.8vmin;
}
.box {
    background-color: #222916;
    height: 18vmin;
    width: 18vmin;
    border-radius: 10%;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: white;
}
.reset {
    height: 8vmin;
    width: 25.5vmin;
    background-color: #222916;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-weight: lighter;
}
.reset:hover {
    border: white 1px solid;
}
.msg-container {
    margin-top: 1rem;
    height: 4rem;
}
.new-game-button {
    background-color: #d8edb4;
    border: none;
    height: 5vmin;
    width: 20.5vmin;
    border-radius: 0.5rem;
}
.msg {
    font-size: 25px;
    color: #222916;
    font-weight: 700;
    margin-bottom: 0.2rem;
}
.hide {
    display: none;
}